<div class="bg-national-flag-blue border-b-12 border-mustard p-2 shadow-md" ...attributes>
  <div class="container mx-auto">
    <img
      src="/images/tulsa-flag-sigil.png"
      class="w-20 absolute"
    />
    <h1 class="text-bone ml-22 font-bold text-2xl">Tulsa Neighborhood Explorer</h1>
  </div>
</div>
