<div class="p-1 shadow-md" ...attributes>
  <div class="container mx-auto">
    <LinkTo
      @route="application"
    >
      <img
        src="/images/tpo-logo.png"
        class="h-12 inline"
      />
      <h1 class="inline font-bold md:text-lg text-xs">Neighborhood Explorer</h1>
    </LinkTo>
  </div>
</div>
