<div class="basis-1/3 p-1">
  <div>
    <RankingCircle
      @barColor={{@color}}
      @value={{@score}}
    />
    <h2 class="text-lg">{{@indicatorName}}</h2>
    <p class="text-sm">{{@diagnosis}}</p>
  </div>
</div>
