@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: franklin;
  font-style: normal;
  font-weight: normal;
  src: url("/public/fonts/frabk.ttf") format('truetype');
}

@font-face {
  font-family: franklin;
  font-style: italic;
  font-weight: italic;
  src: url("/public/fonts/frabkit.ttf") format('truetype');
}

@font-face {
  font-family: gothic;
  font-style: normal;
  font-weight: 100;
  src: url("/public/fonts/gothic.ttf") format('truetype');
}

@font-face {
  font-family: gothic;
  font-style: normal;
  font-weight: bold;
  src: url("/public/fonts/gothicb.ttf") format('truetype');
}

@font-face {
  font-family: gothic;
  font-style: italic;
  src: url("/public/fonts/gothici.ttf") format('truetype');
}

html, body, #root {
  @apply h-full;
}

.map-container {
  width: 100%;
  height: 100%;
}

/* Progress Circle */
/* TODO: Move to nested!! */
.widget {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.progress-bar {
  fill: green;
}

.progress-bar-bg {
  fill: #fff;
}

.progress-label {
  fill: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-anchor: middle;
  dominant-baseline: central;
}

.categories li:before {
  content:"■";
  font-size:15x;
  vertical-align:middle;
  color: var(--category-color);
}

.bb-text {
  @apply text-sm font-bold;
}

.bb-line {
  stroke-width: 0.4rem;
}

#react-select-3-placeholder {
  overflow: hidden;
  white-space: nowrap;
}
