<div class="flex flex-col p-5 md:p-7">
  <div class="basis-full">
    <h2 class="text-3xl">
      Welcome
    </h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis tempore aperiam odit voluptatibus velit qui optio quam exercitationem incidunt animi rem voluptate necessitatibus, nostrum obcaecati enim, ullam itaque et pariatur.
    </p>
    <SearchBar
      @list={{this.model.neighborhoods}}
    />
  </div>
  <div class="basis-full">
    <h1 class="text-xl">Explore</h1>
    <p class="pb-4">Maps and statistics illustrate each district’s built environment, socio‑economic, and demographic characteristics. Dynamic charts compare conditions across districts.</p>
    <h1 class="text-xl">Learn</h1>
    <p class="pb-4">Each community district is unique. Find out about your community board's budget priorities and most pressing concerns, and learn about the projects and neighborhood studies that are happening in your district.</p>
    <h1 class="text-xl">Download</h1>
    <p class="pb-4">Each profile's indicators, land use and zoning data, and more are available for your use and analysis.</p>
  </div>
</div>
